*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #bc3030;
    --back-color: rgb(228, 226, 226);
    --font-color: rgb(255, 255, 255);
    --footer-color: #1e1e1e;
}

body {
    background: var(--back-color);
    color: var(--font-color);
    padding: 2em;
}

section{
    max-width: 500px;
    margin: 0 auto;
    background: #d4d1d1;
    overflow: hidden;
    border-radius: .8em;
}

.container{
    padding: 0 1em;
}

header{
    padding: 1.5em 2em;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #1e1e1e;
    border-radius: .4em;
    overflow: hidden;
    border: 2px solid gray;
}

ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    position: relative;
    transition: .3s;
}

nav li a::after {
    content: '';
    position: absolute;
    background: var(--font-color);
    width: .8px;
    height: 90%;
    right: 0;
    top: 50%;
    transform: translate(-0%, -50%);
}

.contacts::after {
    display: none;
}

nav li a:hover {
    background: var(--primary-color);
}

.hero-sec{
    margin-top: 2em;
}

.hero-header{
    display: flex;
    align-items: center;
    gap: 1em;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 100%;
    border-radius: .4em;
}

.hero-content{
    width: 50%;
}

.hero-content h2{
    font-size: 1.4rem;
    font-weight: 500;
}

.hero-content p{
    font-size: .8rem;
    font-weight: 300;
    margin-top: .5em;
    margin-bottom: 1em;
}

.s1-content{
    margin-top: 1em;
    background: linear-gradient(0deg, #0000004c, #0000004c), url(../images/portrait-young-calm-happy-caucasian-fit-slim-woman-crop-cami-top-pants-set-sits-alone-rocky-tropical-beach-sunset.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    border-radius: .4em;
}

.s1-content h1{
    font-weight: 500;
    margin-bottom: .3em;
}

.s1-content button{
    border: none;
    padding: .6em 2em;
    font-size: .9rem;
    border-radius: .4em;
    background: var(--primary-color);
    color: white;
}

.s3-content{
    margin-top: 2em;
}

.s3-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    border: 1px solid var(--primary-color);
    border-radius: .4em;
}

footer{
    background: var(--footer-color);
}

.footer-content{
    margin-top: 2em;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .4em .4em 0 0;
}

.footer-content p{
    font-size: .8rem;
    font-weight: 300;
}