*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #a6a6a6;
    --back-color: rgb(225, 225, 225);
    --font-color: rgb(0, 0, 0);
    --footer-color: #838383;
}

body {
    background: var(--back-color);
    color: var(--font-color);
    padding: 2em;
}

section {
    background: #a1a1a1;
    border-radius: .8em;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    padding: 0 1.5em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: .4em;
    overflow: hidden;
}

ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
    width: 100%;
    padding: 1.5em 0;
    position: relative;
    transition: .3s;
}

ul li a:hover {
    background-color: rgba(109, 109, 109, 0.48);
    border-radius: .4em;
    padding: 0 .4rem;
    margin: 0;
}

.top-sec {
    background: url(../images/photo3-1609535766154-e47e5aa87789.webp);
    height: 10em;
    background-size: cover;
    background-position: center;
    border-radius: .8em;
}

.sec-sec {
    margin-top: 1em;
}

.sec-sec h3 {
    font-weight: 500;
    margin-bottom: .5em;
    color: rgb(255, 193, 203);
}

.sec-contents p {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.9em;
}

.s3-cont {
    margin-top: 1em;
}

.s3-cont1 {
    display: flex;
    justify-content: space-between;
}

.f1 img {
    width: 8.5em;
    height: 8.5em;
    border-radius: .4em;
    object-fit: cover;
}

.f1 p {
    font-size: .8rem;
    font-weight: 300;
}

.cont1 {
    margin-bottom: 1em;
}