*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #902020;
    --back-color: rgb(62, 62, 62);
    --font-color: white;
}

body{
    background: var(--back-color);
    color: var(--font-color);
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 2em;
}

.heading{
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    background: white;
    display: flex;
    align-items: center;
    gap: .4em;
    cursor: pointer;
    padding-right: .6em;
    border-radius: .4em;
}

.search input{
    padding: .7em 0 .7em 1.1em;
    background: none;
    outline: none;
    border: none;
}


.search i{
    color: black;
    font-size: 1.4rem;
}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #1e1e1e;
    border-radius: .4em;
    overflow: hidden;
}

.nav-ul li{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-ul li a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    position: relative;
    transition: .3s;
}

.nav-ul li a::after{
    content: '';
    position: absolute;
    background: white;
    width: .8px;
    height: 60%;
    right: 0;
    top: 50%;
    transform: translate(-0%, -50%);
}

.contacts::after{
    display: none;
}

.nav-ul li a:hover{
    background: var(--primary-color);
}

.hero-sec{
    margin-top: 2em;
}

.hero-header{
    display: flex;
    align-items: center;
    gap: 3em;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 100%;
    border-radius: .5em;
}

.hero-content{
    width: 45%;
}

.cont1 h1{
    font-size: 2rem;
    font-weight: 500;
}

.cont1 p{
    font-weight: 300;
    font-size: .9rem;
}

.cont{
    margin-bottom: 1em;
}

.cont1 button{
    border: none;
    border-radius: .4em;
    padding: .7em 2em;
    margin-top: 1.3em;
    cursor: pointer;
    font-size: .9rem;
    background: var(--primary-color);
    color: white;
}

.s2{
    margin-top: 5em;
}

.s2-contents{
    display: flex;
    text-align: center;
}

.s2-cont{
    padding: 1em 2em;
    width: 100%;
}

.s2-cont i{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: .3em;
}

.s2-cont h3{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .4em;
}

.s2-cont p{
    font-size: .85rem;
    color: rgb(209, 209, 209);
}

.button{
    display: flex;
    justify-content: center;
}

.s2-cont button{
    margin-top: .5em;
    display: flex;
    justify-content: center;
    gap: .1em;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: .8em 2.3em .5em 2.5em;
    font-size: .85rem;
    border-radius: .3em;
    cursor: pointer;
    
}

.s2-cont button i{
    font-size: 1.2rem;
    color: white;
}

.s3{
    margin-top: 5em;
}

.s3-contents{
    display: flex;
    gap: 1em;
}

.s3-cont1{
    width: 66%;
}

.s3-cont1 h3{
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: .8em;
}

.team{
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.profile{
    display: flex;
    gap: .7em;
}

.profile-img img{
    width: 7em;
    height: 7em;
    object-fit: cover;
}

.profile-cont p{
    font-size: .8rem;
    font-weight: 300;
}

.profile-cont button{
    margin-top: .5em;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: .5em 2em;
    font-size: .85rem;
    border-radius: .3em;
    cursor: pointer;
   
}

.s3-cont2{
    width: 28%;
}

.s3-cont2 h3 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: .8em;
}

.s3-cont2 img{
    width: 100%;
}

.s3-cont2 p{
    font-size: .8rem;
    font-weight: 300;
}

.s3-cont2 button{
    margin-top: .5em;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: .5em 1.5em;
    font-size: .85rem;
    border-radius: .3em;
    cursor: pointer;
    
}

.s3-cont3{
    width: 21%;
    padding-left: 1em;
}

.s3-cont3 h3 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: .8em;
}


.s3-cont3 ul{
    padding-left: 1em;
}

.s3-cont3 ul li{
    font-size: .8rem;
    font-weight: 300;
}

.s3-cont3 button{
    margin-top: .5em;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: .5em 1.5em;
    font-size: .85rem;
    border-radius: .3em;
    cursor: pointer;
  
}

footer{
    margin-top: 5em;
    padding: 2em;
    background: #1e1e1e;
    text-align: center;
}

footer p{
    font-size: .85rem;
}